# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://zmmnokpoyueyvvzkjluq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InptbW5va3BveXVleXZ2emtqbHVxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAyNDEwMzYsImV4cCI6MjA3NTgxNzAzNn0.4s0qRteqe6mgq0ZVh49zrLAkdV2VKJQ8rIz7WRqQ55c
SUPABASE_SERVICE_KEY=your_supabase_service_role_key

# Admin Configuration
ADMIN_CODE=goldman
